/*Styles for my resume */

/*styles text in general*/
body {
    font-family: 'Open Sans', arial, sans-serif;
    font-size: 1em;
    color: #444;
    font-weight: 400;
}

#container{
    width: 100%;
    max-width: 1200px;
    margin:0 auto;
    padding-bottom: 50px;
}

.menu{
    padding:0;
    margin: 0;
    text-align: center;
}

.menu li{
    display: inline;
}

/*styles name*/
#name {
    font-size: 3em;
    text-transform: uppercase;
    text-align: center;
    color:#33485e;
    border-bottom: 1px solid #33485e;
    width: 60%;
    min-width: 300 px;
    margin: 0 auto;
}

/*styles title*/
strong {
    text-transform: uppercase;
    font-size:1.5em;
    color:#33485e;
}

/*styles section titles*/
.sectionheader {
    font-size: 1.5em;
    text-transform: uppercase;
    background-color: #33485e;
    color: #fff;
    margin-bottom:10px;
    margin-top:20px;
    margin-left: 0;
    margin-right: 0;
    width: 70%;
    min-width: 300px;
}

/*styles job titles*/
h3 {
    font-weight: 600;
    font-size: 1.5em;
}

/*styles organizations or employer*/
h4 {
    font-weight: 400;
    font-size: 1em;
}

/*styles job dates*/
h5 {
    font-weight: 400;
    font-style: italic;
    font-size: 1em;
}

/*styles text in lists*/
li {
    font-size: 1em;
}